$default-font-color: #e1d7b5;
$background-color: #0e2618;
$button-bgcolor: #e1d7b5;
$button-font-color: black;

@mixin mq($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 20px;
    font-family: 'Alumni Sans', sans-serif;
    color: $default-font-color;
    width: 100%;
    min-height: 100%;
    background-color: $background-color;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq(768px) {
        font-size: 25px;
    }
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: $background-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 30px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.app-title {
    font-size: 1.5em;
    color: $default-font-color;
    text-align: center;
    flex: 1;
    font-family: 'Alumni Sans', sans-serif;
}

.login-button {
    background-color: $button-bgcolor;
    color: $button-font-color;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1em;
    font-family: 'Alumni Sans', sans-serif;
}

body {
    padding: 20px;
    background-color: $background-color;
}

button {
    background-color: $button-bgcolor;
    color: $button-font-color;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Alumni Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}


.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
    max-width: 500px;
    margin-top: 80px;
}

.name-form {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-family: 'Alumni Sans', sans-serif;
    gap: 15px;
    width: 100%;
    max-width: 400px;
    background-color: $background-color;
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 90px;
}

.submit-button {
    align-self: flex-end;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 1em;
}

.time-field {
    height: 40px;
    width: 150px;
    margin-bottom: 25px;
    border-radius: 10px;
    font-size: 1em;
}

.message-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.logged-in-message {
    font-size: 1.5em;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 25px;
    margin-top: 20px;
}

.bartender-title {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 40px;
    margin-top: 15px;
    text-align: center;
}

.time-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 25px;
}

.order-form label {
    font-size: 1.2em;
    font-family: 'Alumni Sans', sans-serif;
    margin-right: 10px;
    margin-bottom: 10px;
}

.order-form select {
    height: 40px;
    width: 150px;
    margin-bottom: 25px;
    border-radius: 10px;
    font-size: 1em;
    font-family: 'Alumni Sans', sans-serif;
    text-align: center;
}

.order-form button {
    border-radius: 10px;
    font-size: 1em;
    font-family: 'Alumni Sans', sans-serif;
}

.order-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.order-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
    margin-top: 30px;
}

.order-list-box {
    border:1px solid $default-font-color;
    border-radius: 10%;
    width:200px;
    max-height: 100px;
    overflow:scroll;
    overflow-y:scroll;
    overflow-x:hidden;
    font-size: 25px;
    text-align: center;
    margin: 20px 20px;
}