* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 20px;
  font-family: "Alumni Sans", sans-serif;
  color: #e1d7b5;
  width: 100%;
  min-height: 100%;
  background-color: #0e2618;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: pan-y pan-x;
}
@media only screen and (min-width: 768px) {
  html, body {
    font-size: 25px;
  }
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0e2618;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 30px;
}

.loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #e1d7b5;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.app-title {
  font-size: 1.5em;
  color: #e1d7b5;
  text-align: center;
  flex: 1;
  font-family: "Alumni Sans", sans-serif;
}

.login-button {
  background-color: #e1d7b5;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1em;
  font-family: "Alumni Sans", sans-serif;
}

body {
  padding: 20px;
  background-color: #0e2618;
}

button {
  background-color: #e1d7b5;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 25px;
  font-family: "Alumni Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  margin-top: 80px;
}

.name-form {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-family: "Alumni Sans", sans-serif;
  gap: 15px;
  width: 100%;
  max-width: 400px;
  background-color: #0e2618;
  padding: 20px;
  border-radius: 10px;
  margin-top: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-pic {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 90px;
}

.submit-button {
  align-self: flex-end;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 1em;
}

.time-field {
  height: 40px;
  width: 150px;
  margin-bottom: 25px;
  border-radius: 10px;
  font-size: 1em;
}

.message-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.logged-in-message {
  font-size: 1.5em;
  font-family: "Alumni Sans", sans-serif;
  font-size: 25px;
  margin-top: 20px;
}

.bartender-title {
  font-family: "Alumni Sans", sans-serif;
  font-size: 40px;
  margin-top: 15px;
  text-align: center;
}

.order-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 20px;
  margin-top: 20px;
}

.order-list-box {
  border: 1px solid #e1d7b5;
  border-radius: 5px;
  width: 300px;
  max-height: 65vh;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 25px;
  text-align: center;
  margin: 10px 0px;
}

.drink-pic {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.fixed-bottom {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #0e2618;
  padding: 10px;
  z-index: 1000;
}

.type-pic {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.dinner-pic {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.delete-button {
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  font-family: "Alumni Sans", sans-serif;
}

.order-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #e1d7b5;
}

.footer-text {
  bottom: 0;
  position: absolute;
  margin-left: -17px;
}

@media only screen and (orientation: landscape) {
  .footer-text {
    margin-top: 100px;
    bottom: auto;
  }
  .menu {
    padding-top: 30px;
  }
  .bartenderstat-container {
    padding-top: 30px;
  }
  .foodserverstat-container {
    padding-top: 30px;
  }
  .statsummary-container {
    padding-top: 30px;
  }
}
@media only screen and (max-height: 700px) {
  .adjust {
    padding-top: 30px;
  }
}
.res-adj1 {
  font-size: 0.9em;
  position: absolute;
  left: 0;
  margin-left: 5px;
}

.res-adj2 {
  font-size: 0.9em;
  position: absolute;
  margin-left: 26px;
  width: 75px;
}

.res-adj3 {
  font-size: 22px;
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.res-adj4 {
  margin-bottom: 10px;
  margin-top: -5px;
  font-size: 28px;
}

@media only screen and (min-width: 400px) {
  .res-adj1 {
    font-size: 1em;
    width: 165px;
  }
  .res-adj2 {
    font-size: 1em;
    width: 85px;
    margin-left: 30px;
  }
  .res-adj3 {
    font-size: 24px;
  }
  .res-adj4 {
    margin-top: 0px;
    font-size: 32px;
  }
  .res-adj5 {
    font-size: 1.2em;
  }
}
.loginform-buttons {
  display: flex;
  justify-content: end;
}

.cancel-button {
  align-self: flex-end;
  margin-right: auto;
}/*# sourceMappingURL=style.css.map */